@import 'tailwindcss';


html {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-200);
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1.0rem;
  font-weight: bold;
}